[submodule "scripts"]
  path = scripts
	url = git@github.com:jonaylor89/scripts
	branch = master
[submodule "ansible/plugins/modules/aur"]
	path = ansible/plugins/modules/aur
	url = https://github.com/kewlfft/ansible-aur.git
